
  
.cover {
    height: 200px;
    background-image: url("https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

   