

.posts {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}


.newPost {

    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
}

.newPost h5 {
    border-bottom: 1px solid#e6ecf5;
    display: block;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 15px;
    padding-bottom: 12px;
    color: #515365;
}

.postBox {
    width: 90%;
    margin: 0 auto;

}


textarea {
    width: 90%;
    border: 0;
    margin: 15px auto 10px;
}

#btn {
   margin-left: auto;
}

.newPost ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.preview {
    justify-self: flex-end;
}


.liItems li {
    padding: 10px;
    color: #3ca9fc;
}

.postItems {
    margin:0 auto;
    width: 60%;
  
}

