.header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #424874;
    position: fixed;
    width: inherit;
    height: 75px;
    border-radius: 25px;
}
  
.logo {
    font-size: 1.5em;
    color: #fff;
    padding-top: 15px;
    text-align: center;
    width: 18%;
}
  
.logo svg{
    color:#4272bf;
}
  
.header .serviceBar {
    width: 80%;
}

.topSearch {
    margin: auto;
    text-align: left;
    width: 30%;
    position: relative;
}

.topSearch form {
    display: inline-block;
    position: relative;
    width: 100%;
}

.topSearch input {
    background: rgba(255,255,255,.1);
    border: medium none;
    font-size: .8em;
    padding: .8em 30px;
    width: 100%;
    color: #fff;
    border-radius: 30px;
}


#searchBtn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    border: medium none;
    border-radius: 30px;
    color: #fff;
    float: right;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 30px;
    transition: all 0.2s linear 0s;
}

[class*="fa-search"] {
    font-family: themify;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
}

.btn {
    background: #3ca9fc none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    margin-top: 11px;
    padding: 5px;
    width: 100%;
    transition: all 0.2s linear 0s;
}

.login__block {
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
    color: #fff;
    line-height: .8;
    text-align: center;
}
