.nav {
    grid-area: nav;
    background-color: #ffffff;
    color:#000000;
    position: fixed;
    top: 90px;
    font-size: 1em;
    width: 20%;
    margin: 0 15px;
    padding-right: 15px;
    margin-right: 15px;

}
  
.nav .item {
    text-transform: uppercase;  
    padding: 5% 0;
    padding-left: 15%;
    
    cursor: pointer;
}

.nav .item  a:hover{
    color: #3ca9fc;
    transition: color linear .1s;
}


.nav li svg {
    font-size: 2em;
    padding-top: 5%;
    padding-right: 5%;
    color: #3ca9fc;
}