.nav {
    grid-area: nav;
    background-color:#424874;
    color:#ffffff;
    position: fixed;
    top: 90px;
    font-size: 1em;
    width: 20%;
    border-radius: 25px;
}
  
.nav .item {
    text-transform: uppercase;  
    padding: 10% 0;
    padding-left: 15%;
}

.activeLink .item {
   background-color: firebrick;
 
}

.nav a.active li::before {
    background-color: #424874;
    
   
 }

.nav li svg {
    padding-right: 5%;
    color: #4272bf;
}