.profile {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
}

.profile svg {
    color: #3ca9fc;
    padding-right: 5px;
    font-size: 1.2em;
}

.your__page {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    justify-content: space-between;
}


.user__photo {

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.user__photo figure img{
    width:300px;
    border-radius: 50%;
}

.profile__info {
    margin-right: 10%;
}
.load-image {
    margin-top: 10px;
}

.profile__status svg {
    padding: 0 5px;
    font-size: 1.8em;
}

.profile__status {
    display: flex;
    align-items: center;
}
.user__info {
    font-size: 1.1em;
    width: 40%;
}

.user__info span {
    font-weight: 700;
}


.user__info div {
    margin-top: 5px;
}

.user__info h2{
    font-size: 1.8em;
    
}

.contact {
    font-size: 1em;
    margin-left: 20px;
    margin-top: 5px;
}

.editForm div {
    margin: 0;

}

