.post {
    margin: 2% 4%;
    background: #fff none repeat scroll 0 0;
    
}


.postAndAuthor {
    display: flex;
    margin-bottom: 1em;
}

.postAuthor {
    margin-right: 2%;
    width: 80px;
}

.postText {
    max-height: 50%;
    font-size: 1em;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    width: 100%;
    
}

.postText p {
    padding: 10px;
    
}

.likeComment {
    display: flex;
    font-size: 1em;
    color: #3ca9fc;
    padding: 10px;
    cursor: pointer;
}

.likeComment span:first-child {
    margin-right: 10%;
}

