body {
  background-color: #dcd6f7;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: grid;
  width: 98%;
  margin: 0 auto;
  height: 100vh;
  grid-template-rows: 75px 1fr;
  grid-template-columns: 20% 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-areas: 
  "header header"
  "nav main-content";
  background-color: #dcd6f7;

}

.wrapperContent {
    grid-area: main-content;
    background-color: #ffffff;
    border-radius: 25px;

}

.preloaderWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

