body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

}

a:hover {
 text-decoration: none;
}

.wrapper {
  display: grid;
  width: 100%;
  max-width: 1480px;
  height: 100vh;
  grid-template-rows: 75px 1fr;
  grid-template-columns: 20% 1fr;
  grid-template-areas: 
  "header header"
  "nav main-content";
  background-color:#eeeeee;

}

.wrapperContent {
    grid-area: main-content;
    background-color:#eeeeee;
    margin-top: 15px;
    margin-left:50px;
}

.preloaderWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

